slick-prev:before,
.slick-next:before {
  color: black !important;
}

.img-style {
  margin-left: auto;
  margin-right: auto;

  height: 250px;
  width: 250px;
}

@media (max-width: 992) {
  .img-style {
    margin-left: 1px !important;
    margin-right: 10px !important;
  }
}

.carousel-container {
  margin-top: 50px;

  padding: 0px 25px 30px 25px;
}
/* En el archivo de estilos del componente */
::ng-deep .slick-prev:before,
::ng-deep .slick-next:before {
  color: black;
}

::ng-deep .slick-prev:hover:before,
::ng-deep .slick-next:hover:before {
  color: gray;
}
