nav {
  flex: 1;
  justify-content: flex-end;
}
li {
  button {
    background-color: transparent;
    padding: 0;
    cursor: pointer;
  }
}
.menu {
  position: absolute;
  flex-direction: column;
  z-index: 50;
  top: 100px;
  left: 0;
  width: 100%;
  display: none;
}
img {
  height: 24px;
  width: 24px;
}
.menu-button {
  margin-left: 19px;
}
.menu-content {
  flex-direction: column;
  position: absolute;
  z-index: 50;
  row-gap: 8px;
  display: flex;
  background-color: white;
  width: 100%;
  button {
    border-bottom: 2px solid #e7e7e7;
    height: 52px;
    text-align: left;
    padding: 16px;
    margin-left: 20px;
    a {
      font-family: Inter;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: black;
    }
  }
}
.void {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}

.open-menu {
  display: flex;
}
.full-nav {
  a {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
  }

  a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #5dc1b9;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }

  a:hover::after {
    transform: scaleX(1);
  }
}

ul {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  justify-content: flex-end;
}
li.icon {
  width: 25px;
}
.responsive-nav {
  display: none;
}

@media (max-width: 600px) {
  .full-nav {
    display: none;
  }
  .responsive-nav {
    align-items: baseline;
    display: flex;
  }
  ul {
    gap: 0;
  }
  li.icon {
    width: 30px;
  }
}
