form {
  width: 225px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
mat-slider {
  width: 100%;
  p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
  }
}
.buttons-container {
  display: flex;
  gap: 29px;
}
label {
  p {
    margin-bottom: 8px;
  }
}
.filter-results {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
  text-align: left;
  color: black;
}
span {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;

  text-align: left;
  color: black;
}

select {
  width: 100%;
  font-family: "Inter";
  border-color: #00000026;
  padding: 14px 12px 14px 12px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
}

select:focus,
select:active {
  outline: none;
}
option {
  color: black;
}

button:active {
  background-color: white;
  color: #5dc1b9;
}
button {
  cursor: pointer;
}

.buttons-condicion {
  width: 100%;
  display: flex;
  gap: 15px;
}
.condicion-container {
  p {
    margin-bottom: 15px;
  }
  button {
    cursor: pointer;
    background-color: white;
    color: #5dc1b9;
    border: 2px solid #5dc1b9;
  }
  .slected {
    background-color: #5dc1b9;
    color: black;
  }
}
.filter-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  div {
    align-items: center;
    display: flex;
    padding: 10px 12px 10px 12px;
    gap: 8px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background-color: #d4f3ee;
    img {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }
}
.filter-tittle {
  display: flex;
  gap: 25px;
  align-items: center;
  p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }
  button {
    background-color: transparent;
    color: #00000099;
    padding: 0;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
  }

  button:active {
    background-color: white;
    color: #5dc1b9;
  }
}
.filter-container {
  p {
    color: #00000099;

    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
  }
}

.form-buttons {
  display: flex;
  gap: 10px;
}
.disabled {
  display: none;
}

@media (min-width: 300px) and (max-width: 900px) {
  form {
    padding: 32px;
    width: 100%;
  }
  .filter-tittle {
    justify-content: space-between;
    gap: 0;
  }
  .buttons-container {
    display: contents;
  }
}
